{% load static %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, basic, centered, links" />

  <link rel="stylesheet" type="text/css" href={% static 'css/demo.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/footer-basic-centered.css' %}>

</head>

  <body>

    <footer class="footer-basic-centered">

      <p class="footer-company-motto">FUNDEE</p>
      <p>
        
      </p>

      <a href="/viewmore/comment"> LEAVE A COMMENT HERE</a>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Fundee &copy; 2018</p>

    </footer>

  </body>

</html>
